# ignore MAC OS hiden files
*.DS_Store

# ignore R files
.RData
.Rhistory
# ignore RStudio files
.Rproj.user
Rplots.pdf

# ignore tmp files and folders
tmp*
.*.swp
*db.sqlite
*_back

#latex code
main_supplement.pdf

# ignore snakemake
.snakemake/
.snakemake.*
Output
Data/paperPipeline
Data/rawdata
.Rsubread_*_pid*
slurm-*.out
wbuild_*


# ignore R data files
*.RDS
*_cache
~$*

# ignore fraser package
FraseR_*.*.*.tgz

# ignore test data
data_for_cleanup
test.rds.pvalues
/cache
resources/conferences/big-data-in-biomedicine.html
src/r/testing/*.html
src/r/dock8-analysis/*_files
src/r/dock8-analysis/*.html
src/r/benchmark/*_files
src/r/benchmark/*.html
# ignore knitr and markdown results/caches
*.spin.R
*.spin.Rmd
*.utf8.md
*.knit.md
.wBuild*
Rplot.*

src/r/shiny-logs/
